# Mac
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/**/build/

# Ignore node modules
/**/node_modules/

# Ignore Intellij
/**/.idea/
/**/out/
*.iml

# Ignore Visual Studio Code
/.history/
/venv/

